*{
  margin: 0;
  padding: 0;
}
body{
  background: white;
  color: rgb(53, 53, 53);
  font-family: 'Roboto', sans-serif;
  z-index: 10;
  background-image: url(https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15752a6f893a41_18.%20Buttercup.jpg);
  background-image: rotate(180deg);
  background-size: 100% 130%;
  background-position: fixed;
}
.link{
  font-size: 27px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin: 50px;
  margin-left: 38%;
  margin-top: 70px;
}
#languagelink{
  width: 250px;
  height: 80px;
  border-color:black;
  padding: 30px;
  border-style: solid;
  background-color: white;
  border-width: 2px;
  border-radius: 50%;
  text-align: center;
}
#archivelink{
  width: 250px;
  height: 80px;
  border-color:black;
  padding: 30px;
  border-style: solid;
  background-color: white;
  border-width: 2px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
#sharkslink{
  width: 250px;
  height: 80px;
  border-color:black;
  padding: 30px;
  border-style: solid;
  background-color: white;
  border-width: 2px;
  border-radius: 50%;
  text-align: center;
}
.small{
  font-size: 20pt;
  text-decoration: none;
  color: rgb(53, 53, 53);
  z-index: 10;
}
a:visited{
  color: rgb(53, 53, 53);
}